@import "./vars.css";

.App {
    background-color: #ffe852;
    width: 100vw;
    height: 100vw;

    color: black;
} 

/* App.module.css */
:global(body) {
  margin: 0;
  padding: 0;
}

.appContainer {
  margin: 20px; 
  padding: 20px; 
  outline: 3px solid #000; 
  outline-offset: -10px; 
  min-height: 100vh;
}